streamlit==1.50.0
plotly==5.22.0
streamlit-plotly-events==0.0.6
pandas==2.2.2
pyarrow==16.1.0
numpy==1.26.4
pycountry==23.12.11
huggingface_hub==0.24.6

# (optional) if you plan to generate PDFs with Matplotlib like our doc exporter
# matplotlib==3.9.2







